<mat-card>
    <form  (submit)="savePost(postForm)"  #postForm="ngForm">
        <mat-form-field>
            <input type="text" 
            matInput rows="6" 
             name ="title"
             required
             placeholder="Title"
             #Title="ngModel"
             [ngModel]="post.title">
             <mat-error *ngIf="Title.invalid">It's mandatory to enter title</mat-error>
        </mat-form-field>

        
        <mat-form-field>
            <textarea matInput rows="4" 
             name="content" 
             required
             placeholder="Content"
             #Content="ngModel"
            [ngModel]="post.content"></textarea>
             <mat-error *ngIf="Title.invalid">It's mandatory to enter content</mat-error>
        </mat-form-field>
        
     <button mat-raised-butten
     color="accent"
     type="submit">Save Post</button>
    </form>
    
</mat-card>



 